// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit {
    margin-top: 100px;
    padding: 30px;
    font-size: 30px;
    font-family: system-ui;
}